aside.aside
  p.logo Quizz
  .objective-container
    h3.heading-3 Objective
    p.paragraph
      | Answer 10 questions (3 easy, 3 medium, 3 hard, and 1 expert level) to
      | test your trivia skills.
    p.paragraph
      | A high score is based on the number of right answers and the time
      | taken.
  .high-score-section
    h3.heading-3 High Scores
    .high-score-container
      .high-score-headings
        span.rank-heading Rank
        span.name-heading Player
        span.score-heading Score
      .high-score
        span.rank &#x1F947;
        span.name Name
        span.score 0000
      .high-score
        span.rank &#x1F948;
        span.name Name
        span.score 0000
      .high-score
        span.rank &#x1F949;
        span.name Name
        span.score 0000
      .high-score
        span.rank 4
        span.name Name
        span.score 0000
      .high-score
        span.rank 5
        span.name Name
        span.score 0000