doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Quizz App
    link(rel='shortcut icon' href='/images/favicon.png' type='image/x-icon')
    script(src='https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js')
    link(rel='stylesheet' href='/styles/style.css')

  body
    include _aside

    include _main

    include _popup

  script(src="/js/bundle.js")

